@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --first-main-color: #FF6B6B;
  --second-main-color: #FFCAAF;
  --third-main-color: #B61919;
  --fourth-main-color: #ffe6da;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Poppins;
  background: var(--second-main-color);
  color: var(--first-main-color);
}

/*Tools Board*/
.menu-bar {
  display: none;
}

.tools-board, .canvas-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 100px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #fff;
}

.tools-board__pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(#e5e7eb 1px,transparent 1px);
  background-size: 16px 16px;
}

.logo-box,
.sharpes-box,
.options-box,
.colors-box {
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
}

.sharpes-box__title,
.options-box__title,
.colors-box__title {
  font-size: 25px;
}

.logo-box__img {
  width: 125px;
  height: 75px;
}

/* Tools */
.tool-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tool-list__tool {
  position: relative;
  display: flex;
  gap: 2px;
  align-items: center;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.tool-list__tool:hover {
  color: var(--second-main-color);
}

.tool-list__tool:last-child {
  cursor: default;
}

.tool-list__tool:last-child:hover {
  color: var(--first-main-color);
}

.tool-list__tool__icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}

.tool-list__tool__name {
  position: relative;
  top: 2px;
  font-size: 18px;
}

.tool-list__tool.tool-list__tool--color {
  width: 25px;
  height: 25px;
  border: 1px solid var(--second-main-color);
  border-radius: 50%;
  transition: border 150ms linear;
  cursor: pointer;
}

.tool-list__tool.tool-list__tool--color:hover {
  border: 3px solid var(--fourth-main-color);
}

.tool-list__tool.tool-list__tool--color:nth-child(1) {
  background: linear-gradient(
    270deg,
  rgba(255,0,44,1) 0%,
  rgba(128,0,255,1) 15%,
  rgba(89,0,255,1) 24%,
  rgba(0,125,255,1) 38%,
  rgba(0,255,226,1) 49%,
  rgba(0,255,162,1) 59%,
  rgba(5,255,0,1) 65%,
  rgba(202,255,0,1) 73%,
  rgba(255,214,0,1) 78%,
  rgba(255,141,0,1) 86%,
  rgba(255,85,0,1) 96%,
  rgba(255,0,0,1) 100%
  );
}

.tool-list__tool.tool-list__tool--color:nth-child(2) {
  background: rgb(0, 0, 0);
}

.tool-list__tool.tool-list__tool--color:nth-child(3) {
  background: rgb(255, 0, 0);
}

.tool-list__tool.tool-list__tool--color:nth-child(4) {
  background: rgb(0, 0, 255);
}

.tool-list__tool.tool-list__tool--color:nth-child(5) {
  background: rgb(0, 255, 0);
}

.tool-list__tool.tool-list__tool--color:nth-child(6) {
  background: rgb(255, 255, 0);
}

/* Fill checkbox */
#fill-check {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17px;
  height: 17px;
  margin: -2px;
  border: 2px solid var(--first-main-color);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
  top: 2px;
  background-color: var(--fourth-main-color);;
  transition: background-color 0.3s ease-in-out;
}

#fill-check:checked {
  background-color: var(--first-main-color);
}

#fill-check:checked::before {
  content: "✔";
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 49%;
  left: 50.5%;
  transform: translate(-50%, -50%);
}

/* Color picker input */
#color-picker {
  width: 25px;
  height: 25px;
  border: 1px solid var(--second-main-color);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

/* Range density input */
#range-density{
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  top: 2.5px;
  width: 100%;
  height: 3px;
  background: var(--fourth-main-color);
  border-radius: 5px;
  outline: none;
  border: none;
}
#range-density::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--first-main-color);
  transition: background 250ms ease-in-out;
  cursor: pointer;
}

#range-density::-webkit-slider-thumb:hover {
  background: var(--second-main-color);
}

#range-density::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--first-main-color);
  border: 1px solid var(--first-main-color);
  border-radius: 50%;
  cursor: pointer;
}

#range-density::-moz-range-progress {
  background: var(--first-main-color);
}

/*Canvas Board*/
main {
  width: 95vw;
  height: auto;
  margin: auto;
  background: var(--second-main-color);
}

.canvas-board__canvas {
  width: 100%;
  height: 650px;
  border: none;
  border-radius: 10px;
  background: #fff;
  cursor: crosshair;
}

/* Functions Buttons */
.canvas-buttons {
  height: 100px;
  background: none;
}

.canvas-buttons__clear,
.canvas-buttons__save {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 275px;
  height: 50px;
  font-size: 18px;
  background: var(--first-main-color);
  color: var(--fourth-main-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.canvas-buttons__clear:hover,
.canvas-buttons__save:hover {
  background: var(--fourth-main-color);
  color: var(--first-main-color);
}

.canvas-buttons__clear:active,
.canvas-buttons__save:active {
  background: var(--third-main-color);
  color: var(--second-main-color);
  transform: scale(0.95);
}

.canvas-buttons__clear {
  gap: 18px;
}

.icon-container{
  position: relative;
}

.erase-container {
  position: relative;
  width: 15px;
  height: 25px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  background-color: #fff;
  transform: rotate(45deg);
  transition: all 1s ease-out;
  z-index: 2;
}

.canvas-buttons__clear:hover .erase-container {
  transform: translateX(10px) rotate(45deg);
}

.erase-container__fragment {
  width: 100%;
}

.erase-container__fragment--top {
  background-color: #1f89ac;
  height: 30%;
  border-radius: 2px 2px 0 0;
}

.erase-container__fragment--bottom {
  background-color: #db544a;
  height: 70%;
  border-radius: 0 0 2px 2px;
}

.erase-container__draw {
  position: absolute;
  bottom: -1px;
  right: -2px;
  width: 12.5px;
  height: 1px;
  background-color: #000;
  transition: all 1s linear;
  z-index: 1;
}

.canvas-buttons__clear:hover .erase-container__draw {
  width: 0px;
}

.folder-container {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.folder-container__file-back {
  z-index: 1;
  width: 80%;
  height: auto;
}

.folder-container__file-page {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}

.folder-container__file-front {
  width: 85%;
  height: auto;
  position: absolute;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
  z-index: 3;
}

.canvas-buttons__save:hover .folder-container__file-page {
  transform: translateY(-5px);
}

.canvas-buttons__save:hover .folder-container__file-front {
  transform: rotateX(30deg);
}

@keyframes sb-slide {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 1150px) {
  .tools-board {
    width: 95vw;
    justify-content: space-evenly;
  }

  .logo-box {
    display: none;
  }

  .tool-list__tool__name {
    display: none;
  }
  
  #fill-check + span {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
  }

  .menu-bar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

  .menu-bar__wrapper__line {
    width: 100%;
    height: 3px;
    background: var(--first-main-color);
    border: none;
    border-radius: 1px;
    transform-origin: 0px 100%;
    transition: all 600ms;
  }

  .menu-bar__wrapper__line--first-active {
    transform: rotate(45deg) translate(-2px, 1px);
  }

  .menu-bar__wrapper__line--second-active {
    opacity: 0;
    margin-left: -30px;
  }

  .menu-bar__wrapper__line--third-active {
    transform: rotate(-45deg) translate(-2px, 2px);
  }

  .menu-bar__wrapper---active {
    transform: translate(6px);
  }

  .tools-board {
    position: fixed;
    top: 75px;
    left: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 210px;
    height: 84vh;
    margin: 0;
    background: var(--fourth-main-color);
    transform: translate(-100%);
    transition: all 600ms;
  }

  .tools-board--active {
    display: flex;
    justify-content: space-between;
    animation: sb-slide 2s ease forwards;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .logo-box,
  .sharpes-box,
  .options-box,
  .colors-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
  }

  .logo-box {
    max-height: 90px;
  }

  .tool-list {
    width: 70%;
    flex-direction: column;
  }

  .tool-list.tool-list--color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }

  #range-density {
    background: #fff;
  }

  main {
    margin: 10px auto;
  }

  .tool-list__tool__name {
    display: inline;
  }

  #fill-check {
    left: 3px;
    margin-right: 2px;
  }

  .canvas-buttons__clear,
  .canvas-buttons__save {
    width: 225px;
  }
}

@media screen and (max-width: 600px) {
  .canvas-buttons__clear,
  .canvas-buttons__save {
    width: 175px;
    margin: 0 5px;
  }

  .canvas-buttons__save {
    gap: 5px;
  }
}